.main {
    text-align: center;
    font-weight: bold;
    font-size: 100px;
    color: navy;
}

.main_buttons {
    display: flex;
    justify-content: center;
    height: 30vh;
}

.main_button {
    width: 25%;
}

.main_button img {
    transition: transform .2s;
}

.main_button img:hover{
    transform: scale(1.5);
}

.main_button img:hover + .icon_text .brief {
    display: none;
}

.main_button img:hover + .icon_text .detail {
    visibility: visible;
}

.icon_text .detail {
    visibility: hidden;
}

.icon_text{
    margin-top: 10%;
    font-weight: bold;
    font-size: x-large;
    color: black;
}

.logo {
    margin-top: 25vh;
    margin-bottom: 5vh;
    zoom: 50%;
}